
# --------------------
# Project-specific
# --------------------
old/
*.png

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Distribution / packaging
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pyright / pylance
typings/

# --------------------
# VS Code
# --------------------
.vscode/
.history/

# --------------------
# OS Files
# --------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
